@page "/admin/members"

<div class="row">
    <div class="col-8">
        <h3>Tagok</h3>
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Keresés" aria-label="Search"
                 aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">keress</button>
        </div>
    </div>
</div>

<div class="member">
    Sándor Milán (keresett személy neve) kikölcsönzött könyvei:
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kiadó</th>
            <th>Szerző</th>
            <th>Cím</th>
            <th>Visszaadás határideje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Kulcslyuk Kiadó</td>
            <td>Popper Péter</td>
            <td>Lélekrágcsálók</td>
            <td>2022-02-15</td>
        </tr>
        <tr>
            <th>3</th>
            <td>Lingea</td>
            <td>-</td>
            <td>finn társalgás</td>
            <td>2022-02-15</td>
        </tr>
    </tbody>
</table>

@code {

}
