@page "/admin/rents"

<h3>Kölcsönzés</h3>
<button type="button" class="btn btn-success">Hozzáad</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Kölcsönző neve:</th>
            <th>Könyv címe</th>
            <th>Kölcsönzés dátuma</th>
            <th>Visszaadás határideje</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Papp Öcsi</th>
            <td>Lélekrágcsálókó</td>
            <td>2022</td>
            <td>2022</td>
            <td>
                <button type="button" class="btn btn-warning">Módosít</button>
                <button type="button" class="btn btn-danger">Töröl</button>
            </td>
        </tr>
    </tbody>
</table>

@code {

}
