@page "/admin/rental_status"

<div class="row">
    <div class="col-8">
        <h3>Kölcsönzési állapotok</h3>
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Keresés" aria-label="Search"
                 aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">keress</button>
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kiadó</th>
            <th>Szerző</th>
            <th>Cím</th>
            <th>Kölcsönzés állapota</th>
            <th>Kölcsönző</th>
            <th>Elérhető darabszám</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Kulcslyuk Kiadó</td>
            <td>Popper Péter</td>
            <td>Lélekrágcsálók</td>
            <td>kikölcsönözve</td>
            <td>Sándor Milán, Ács László</td>
            <td>0</td>
        </tr>
        <tr>
            <th>2</th>
            <td>Kossuth Kiadó</td>
            <td>G.L. Thompson</td>
            <td>Az utolsó játszma</td>
            <td>nincs kikölcsnözve</td>
            <td>-</td>
            <td>3</td>
        </tr>
        <tr>
            <th>3</th>
            <td>Lingea</td>
            <td>-</td>
            <td>finn társalgás</td>
            <td>kikölcsnözve</td>
            <td>Kelemen István</td>
            <td>2</td>
        </tr>
    </tbody>
</table>


@code {

}
